body {
    background-color: #adadad;
}
.container-fluid {
    display: flex;
    /* background-color: #FFFFF0; */
    background-color: #adadad;
}

h1 {
    text-align: left;
    margin-left: 15px;
}

#btn-addSched {
    display: block;
    margin: 10px 20px 0 auto;
}

.col-lg-3 {
    border: 1px black solid;
    margin-top: 40px;
    padding-top: 10px;
    position: relative;
    height: 100%;
}

.label-doctors {
    background-color: #abc1cc;
    text-align: left;
    border: 1px black solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    padding: 0 20px 0 15px;
}