@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
    box-sizing: border-box;
}

html {
    height: fill-available;
    height: -webkit-fill-available;
}

body {
    background-color: #f8f9fc;
    margin-top: 150px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
    font-weight: 100;
    text-align: justify;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
}

p.home-desc {
    margin-top: 30px;
}

div.col-banner {
    align-self: end;
    flex: 1 0 0%;
}

div.row-cards {
    margin-bottom: 40px;
}

div.row-dev {
    margin-top: 90px;
}

.container {
    padding: 0px 15px 0px 15px;
}

div.card-body-login {
    height: 547.9px;
}

@media (min-width: 0) {
    .container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .container:after {
        content: " ";
        display: block;
        clear: both;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
    .container:after {
        content: " ";
        display: block;
        clear: both;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
    .container:after {
        content: " ";
        display: block;
        clear: both;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    .container:after {
        content: " ";
        display: block;
        clear: both;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }
    .container:after {
        content: " ";
        display: block;
        clear: both;
    }
}

a {
    text-decoration: none;
    color: rgba(34, 34, 34, 0.8);
}

a:hover,
a :focus {
    color: black;
}

.menu-left a {
    display: inline-block;
    position: relative;
    padding-bottom: 0px;
    transition: color 0.35s ease;
}

.menu-left a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background 0.35s ease;
}

.menu-left a:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #000;
    transition: width 0.35s ease;
}

.menu-left a:hover:before {
    width: 100%;
    background: #000;
    transition: width 0.35s ease;
}

.menu-left a:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 3;
    will-change: transform;
    transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

header nav .logo {
    float: left;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    font-weight: 500;
    color: black;
}

header nav .logo:after {
    content: "";
    display: table;
    clear: both;
}

header nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

header nav ul li {
    float: none;
    margin-left: 0;
}

@media (min-width: 768px) {
    header nav ul li {
        float: left;
        margin-left: 1rem;
    }
}

header nav ul li a {
    display: block;
}

@media (min-width: 576px) {
    header nav ul li a {
        display: block;
        padding: 0.425rem 0rem;
    }
}

@media (max-width: 768px) {
    ul {
        clear: both;
    }
    ul li {
        padding: 0.5em 0;
    }
}

.hide-nav {
    transform: translateY(-120%) !important;
}


/* .hide-nav {
    transform: translateY(-120% !important);
    -webkit-transform: translateY(-120%) !important;
} */


/* ul.menu-left {
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 10;
}

@media (min-width: 768px) {
    ul.menu-left {
        display: block !important;
        float: right;
        max-height: none;
    }
}

ul.menu-left:before {
    content: "";
    display: table;
    clear: both;
}

ul.menu-left.collapse {
    max-height: 15em !important;
}

.nav-toggle {
    display: block;
    border-radius: 5px;
    background-color: transparent;
    float: right;
    height: 38px;
    width: 38px;
    cursor: pointer;
    padding: 8px 8px;
}

.nav-toggle.open span:first-child {
    transform: rotate(45deg) translate(4.4px, 4.4px);
}

.nav-toggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.nav-toggle.open span:last-child {
    transform: rotate(-45deg) translate(4.4px, -4.4px);
}

@media (min-width: 768px) {
    .nav-toggle {
        display: none;
    }
}

.nav-toggle span {
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 4px;
    background-color: #000;
    transition: all 0.25s;
} */

#
/* .img-fluid {
    max-width: 100%;
    height: auto;
} */


/* banner */


/* .h1-first {
    font-size: 21px;
    text-align: left;
    font-family: Nunito, sans-serif;
}

.h1-second {
    text-align: left;
    font-family: Nunito, sans-serif;
}

.headings {
    color: #fff;
    text-align: left;
}

section {
    height: 333px;
    margin-top: 100px;
}

a.btn-login {
    color: #004a7e;
    text-transform: uppercase;
    font-weight: 700;
}

.abt-container {
    margin-bottom: 48px;
}

.img-avatar {
    margin-top: 20px;
} */


/* * NEW */

#home-banner {
    background-size: cover;
    margin-bottom: 100px;
}

navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}

#home,
#about,
#developers,
#contact-us {
    margin-bottom: 100px;
}

.signature {
    position: fixed;
    font-weight: 100;
    bottom: 10px;
    color: #000;
    left: 0;
    letter-spacing: 4px;
    font-size: 10px;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}


/* START OF login-view.php CSS */

.card-body-login {
    height: 547.9px;
}

.h2-login-header {
    color: #002641;
    font-family: Poppins, sans-serif;
    font-weight: 900;
    margin-left: 80px;
    margin-top: 30px;
}


/* END OF login-view.php CSS */


/* * register-view.php CSS */

textarea.valid,
select.valid,
input.valid {
    border-color: #00b779;
    padding-right: calc(1.6em + 1.2rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2300b779' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.4em + 0.3rem) center;
    background-size: calc(0.8em + 0.6rem) calc(0.8em + 0.6rem);
}

textarea.valid:focus,
select.valid:focus,
input.valid:focus {
    border-color: #00b779;
    box-shadow: 0 0 0 0.25rem rgba(0, 183, 121, 0.25);
}

textarea.invalid,
select.invalid,
input.invalid {
    border-color: #dc3545;
    padding-right: calc(1.6em + 1.2rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.4em + 0.3rem) center;
    background-size: calc(0.8em + 0.6rem) calc(0.8em + 0.6rem);
}

textarea.invalid:focus,
select.invalid:focus,
input.invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

textarea.warning,
select.warning,
input.warning {
    border-color: #f6c23e;
    padding-right: calc(1.6em + 1.2rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23f6c23e'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23f6c23e' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.4em + 0.3rem) center;
    background-size: calc(0.8em + 0.6rem) calc(0.8em + 0.6rem);
}

textarea.warning:focus,
select.warning:focus,
input.warning:focus {
    border-color: #f6c23e;
    box-shadow: 0 0 0 0.25rem rgba(246, 194, 62, 0.25);
}

.form-group.required .form-label:after {
    content: " *";
    color: red;
}

.editTab,
.tab {
    display: none;
}

button:hover {
    opacity: 0.8;
}

#prevEditBtn,
#prevBtn {
    background-color: #bbbbbb;
}


/* Make circles that indicate the steps of the form: */

.editStep,
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.editStep.active,
.step.active {
    opacity: 1;
}


/* Mark the steps that are finished and valid: */

.editStep.finish,
.step.finish {
    background-color: #356cbe;
}

#nextEditBtn,
#nextBtn,
#continueBtn {
    background-color: #3269bf;
}


/* * Toasts */

.alert-dialog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.toast-dialog {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.toast-error {
    background-color: #f75663d5;
    color: white;
}

.toast-success {
    background-color: #0abd90e1;
    color: white;
}